In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [5]:
# District Summary: Return total number of schools
total_schools = school_data_complete["school_name"].nunique()
total_schools

15

In [6]:
# District Summary: Return total number of students
total_students = school_data_complete["size"].count()
total_students

39170

In [7]:
# District Summary: Return total budget
total_budget = school_data["budget"].sum()
total_budget_format = school_data["budget"].map("${:,.2f}".format)
total_budget_format

0     $1,910,635.00
1     $1,884,411.00
2     $1,056,600.00
3     $3,022,020.00
4       $917,500.00
5     $1,319,574.00
6     $1,081,356.00
7     $3,124,928.00
8       $248,087.00
9       $585,858.00
10    $1,049,400.00
11    $2,547,363.00
12    $3,094,650.00
13    $1,763,916.00
14    $1,043,130.00
Name: budget, dtype: object

In [8]:
# District Summary: Return average math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
# District Summary: Return average reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
# District Summary: % passing math (return math scores greater than or equal to 70)
district_passing_math = school_data_complete[school_data_complete.math_score>=70]
district_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [11]:
# District Summary: Return % passing math (count math scores greater than or equal to 70)
district_passing_math_count = district_passing_math["Student ID"].count()
district_passing_math_count

29370

In [12]:
# District Summary: Return % passing math (formula)
district_percent_passing_math = district_passing_math_count/total_students *100
district_percent_passing_math

74.9808526933878

In [13]:
# District Summary: Return % passing reading (return reading scores greater than or equal to 70)
district_passing_reading = school_data_complete[school_data_complete.reading_score>=70]
district_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [14]:
# District Summary: Return % passing reading (count reading scores greater than or equal to 70)
district_passing_reading_count = district_passing_reading["Student ID"].count()
district_passing_reading_count

33610

In [15]:
# District Summary: Return % passing reading (formula)
district_percent_passing_reading = district_passing_reading_count/total_students *100
district_percent_passing_reading

85.80546336482001

In [21]:
# District Summary: Return % overall passing
district_overall_passing = school_data_complete[(school_data_complete.reading_score>=70) & (school_data_complete.math_score>=70)]
district_overall_passing

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [26]:
# District Summary: 
district_overall_passing_formula = district_overall_passing["Student ID"].count()/total_students * 100
district_overall_passing_formula

65.17232575950983

In [28]:
# District Summary: Create dataframe
district_summary = pd.DataFrame({"Total Schools":total_schools,"Total Students":total_students,"Total Budget":total_budget,"Average Math Score":average_math_score,"Average Reading Score":average_reading_score,"% Passing Math":district_percent_passing_math,"% Passing Reading":district_percent_passing_reading,"% Overall Passing":district_overall_passing_formula},index=[0])
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [29]:
# School Summary: Return school type
school_type_series = school_data_complete.groupby("school_name").first()["type"]
school_type_series.head()

school_name
Bailey High School      District
Cabrera High School      Charter
Figueroa High School    District
Ford High School        District
Griffin High School      Charter
Name: type, dtype: object

In [30]:
# School Summary: Return total students
total_students_by_school = school_data_complete.groupby("school_name").first()["size"]
total_students_by_school.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: size, dtype: int64

In [31]:
# School Summary: Return total school budget
total_school_budget_by_school = school_data_complete.groupby("school_name").mean()["budget"]
total_school_budget_by_school.head()

school_name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: budget, dtype: float64

In [32]:
# School Summary: Return total students by school
total_students_by_school = school_data_complete.groupby("school_name").count()["School ID"]
total_students_by_school.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: School ID, dtype: int64

In [33]:
# School Summary: Return per student budget
per_student_budget_by_school = total_school_budget_by_school/total_students_by_school
per_student_budget_by_school.head()

school_name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [34]:
# School Summary: Return average math score
average_math_score_by_school = school_data_complete.groupby("school_name").mean()["math_score"]
average_math_score_by_school.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [35]:
# School Summary: Return average reading score
average_reading_score_by_school = school_data_complete.groupby("school_name").mean()["reading_score"]
average_reading_score_by_school.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [89]:
# School Summary: Return % passing math
passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
passing_math_by_school = passing_math.groupby("school_name").count()["Student ID"]
percent_passing_math_by_school = passing_math_by_school/total_students_by_school * 100
percent_passing_math_by_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [91]:
# School Summary: Return % passing reading
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
passing_reading_by_school = passing_reading.groupby("school_name").count()["Student ID"]
percent_passing_reading_by_school = passing_reading_by_school/total_students_by_school * 100
percent_passing_reading_by_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [101]:
# School Summary: Return % overall passing
school_overall_passing = school_data_complete[(percent_passing_math_by_school) & (percent_passing_reading_by_school)]
#school_overall_passing = school_data_complete[(school_data_complete.reading_score>=70) & (school_data_complete.math_score>=70)]
school_overall_passing

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [94]:
school_overall_passing_formula = school_overall_passing["Student ID"].count()/total_students * 100
school_overall_passing_formula

65.17232575950983

In [109]:
# School Summary: Create dataframe
school_summary = pd.DataFrame({"School Type":school_type_series,"Total Students":total_students_by_school,"Total Budget":total_school_budget_by_school,"Per Student Budget":per_student_budget_by_school,"Average Math Score":average_math_score_by_school,"Average Reading Score":average_reading_score_by_school,"% Passing Math":percent_passing_math_by_school,"% Passing Reading":percent_passing_reading_by_school,"% Overall Passing":school_overall_passing_formula})
school_summary

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,65.172326
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,65.172326
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,65.172326
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,65.172326
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,65.172326
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,65.172326
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,65.172326
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,65.172326
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,65.172326
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,65.172326
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,65.172326
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,65.172326
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,65.172326
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,65.172326
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,65.172326

In [78]:
# Top Performing Schools (By % Overall Passing)
top_overall_passing_schools = school_summary["% Overall Passing"].nlargest(n=5)
top_overall_passing_schools

school_name
Bailey High School      33610
Cabrera High School     33610
Figueroa High School    33610
Ford High School        33610
Griffin High School     33610
Name: % Overall Passing, dtype: int64

In [41]:
# Bottom Performing Schools (By % Overall Passing)
bottom_overall_passing_schools = school_summary["% Overall Passing"].nsmallest(n=5)
bottom_overall_passing_schools

NameError: name 'school_summary' is not defined

In [53]:
# Math Scores by Grade
ninth_grade_math_data = student_data.loc[student_data["grade"]== "9th"]
ninth_grade_math_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79

In [54]:
# Math Scores by Grade
tenth_grade_math_data = student_data.loc[student_data["grade"]== "10th"]
tenth_grade_math_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
14,14,Tammy Hebert,F,10th,Huang High School,85,67

In [55]:
# Math Scores by Grade
eleventh_grade_math_data = student_data.loc[student_data["grade"]== "11th"]
eleventh_grade_math_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
6,6,Sheena Carter,F,11th,Huang High School,82,80
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
28,28,Kelly James,F,11th,Huang High School,73,55

In [56]:
# Math Scores by Grade
twelveth_grade_math_data = student_data.loc[student_data["grade"]== "12th"]
twelveth_grade_math_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
7,7,Nicole Baker,F,12th,Huang High School,96,69
29,29,Nicole Brown,F,12th,Huang High School,90,88

In [58]:
# Math Scores by Grade
ninth_average_math_scores = ninth_grade_math_data.groupby("school_name").mean()["math_score"]
ninth_average_math_scores

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [59]:
# Math Scores by Grade
tenth_average_math_scores = tenth_grade_math_data.groupby("school_name").mean()["math_score"]
tenth_average_math_scores

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [60]:
# Math Scores by Grade
eleventh_average_math_scores = eleventh_grade_math_data.groupby("school_name").mean()["math_score"]
eleventh_average_math_scores

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [61]:
# Math Scores by Grade
twelveth_average_math_scores = twelveth_grade_math_data.groupby("school_name").mean()["math_score"]
twelveth_average_math_scores

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [67]:
# Average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school
math_scores_by_grade = pd.DataFrame({"9th":ninth_average_math_scores,"10th":tenth_average_math_scores,"11th":eleventh_average_math_scores,"12th":twelveth_average_math_scores})
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [104]:
# Reading Scores by Grade
ninth_grade_reading_data = student_data.loc[student_data["grade"]== "9th"]
tenth_grade_reading_data = student_data.loc[student_data["grade"]== "10th"]
eleventh_grade_reading_data = student_data.loc[student_data["grade"]== "11th"]
twelveth_grade_reading_data = student_data.loc[student_data["grade"]== "12th"]

In [107]:
# Reading Scores by Grade
ninth_average_reading_scores = ninth_grade_math_data.groupby("school_name").mean()["reading_score"]
tenth_average_reading_scores = tenth_grade_math_data.groupby("school_name").mean()["reading_score"]
eleventh_average_reading_scores = eleventh_grade_math_data.groupby("school_name").mean()["reading_score"]
twelveth_average_reading_scores = twelveth_grade_math_data.groupby("school_name").mean()["reading_score"]

In [108]:
# Average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school
reading_scores_by_grade = pd.DataFrame({"9th":ninth_average_reading_scores,"10th":tenth_average_reading_scores,"11th":eleventh_average_reading_scores,"12th":twelveth_average_reading_scores})
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [69]:
# Scores by school spending: Create bins
bins = [0,584,629,644,679]

# Scores by school spending: Create labels for bins
group_labels = ["$0-$585","$585-$630","$630-$645","$645-$680"]

In [110]:
# Scores by school spending: Slice the data and place it into bins
pd.cut(school_summary["Per Student Budget"], bins, labels=group_labels).head()

school_name
Bailey High School      $585-$630
Cabrera High School       $0-$585
Figueroa High School    $630-$645
Ford High School        $630-$645
Griffin High School     $585-$630
Name: Per Student Budget, dtype: category
Categories (4, object): ['$0-$585' < '$585-$630' < '$630-$645' < '$645-$680']

In [111]:
# Scores by school spending: Place the data series into a new column inside of the dataframe
school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], bins, labels=group_labels)
school_summary.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,65.172326,$585-$630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,65.172326,$0-$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,65.172326,$630-$645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,65.172326,$630-$645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,65.172326,$585-$630

In [112]:
# Scores by school spending: Groupby Spending Ranges 
spending_ranges_grouped = school_summary.groupby("Spending Ranges (Per Student)")

In [113]:
# Scores by school spending: Return amount of rows fall into each bin
print(spending_ranges_grouped["Per Student Budget"].count())

Spending Ranges (Per Student)
$0-$585      4
$585-$630    4
$630-$645    4
$645-$680    3
Name: Per Student Budget, dtype: int64

In [114]:
# Scores by school spending: Return the values within the GroupBy object
spending_ranges_grouped[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
$0-$585,83.455399,83.933814,93.460096,96.610877,65.172326
$585-$630,81.899826,83.155286,87.133538,92.718205,65.172326
$630-$645,78.518855,81.624473,73.484209,84.391793,65.172326
$645-$680,76.997210,81.027843,66.164813,81.133951,65.172326

In [115]:
# Scores by school size: Create bins
size_bins = [0,999,1999,4999]

# Scores by school spending: Create labels for bins
size_group_labels = ["Small(<1000)","Medium (1000-2000)","Large (2000-5000)"]

In [116]:
# Scores by school size: Slice the data and place it into bins
pd.cut(school_summary["Total Students"], size_bins, labels=size_group_labels).head()

school_name
Bailey High School       Large (2000-5000)
Cabrera High School     Medium (1000-2000)
Figueroa High School     Large (2000-5000)
Ford High School         Large (2000-5000)
Griffin High School     Medium (1000-2000)
Name: Total Students, dtype: category
Categories (3, object): ['Small(<1000)' < 'Medium (1000-2000)' < 'Large (2000-5000)']

In [117]:
# Scores by school size: Place the data series into a new column inside of the dataframe
school_summary["School Size"] = pd.cut(school_summary["Total Students"], size_bins, labels=size_group_labels)
school_summary.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,65.172326,$585-$630,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,65.172326,$0-$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,65.172326,$630-$645,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,65.172326,$630-$645,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,65.172326,$585-$630,Medium (1000-2000)

In [118]:
# Scores by school size: Groupby School Size 
school_size_grouped = school_summary.groupby("School Size")

In [119]:
# Scores by school size: Return amount of rows fall into each bin
print(school_size_grouped["Total Students"].count())

School Size
Small(<1000)          2
Medium (1000-2000)    5
Large (2000-5000)     8
Name: Total Students, dtype: int64

In [120]:
# Scores by school size: Return the values within the GroupBy object
school_size_grouped[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),83.821598,83.929843,93.550225,96.099437,65.172326
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,65.172326
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,65.172326

In [121]:
# Scores by school type: Create bins
type_bins = [0,1]

# Scores by school spending: Create labels for bins
type_group_labels = ["Charter","District"]

In [122]:
# Scores by school type: Slice the data and place it into bins
pd.cut(school_summary["School Type"], type_bins, labels=type_group_labels).head()

TypeError: '<' not supported between instances of 'int' and 'str'