In [128]:
# Dependencies and Setup
import pandas as pd

In [129]:
# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

In [130]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [131]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [134]:
# District Summary: Return total number of schools
total_schools = school_data_complete["school_name"].nunique()
total_schools

# District Summary: Return total number of students
total_students = school_data_complete["size"].count()
total_students

# District Summary: Return total budget
total_budget = school_data["budget"].sum()
#total_budget ="${:,.2f}".format(total_budget)
total_budget

# District Summary: Return average math score
average_math_score = student_data["math_score"].mean()
average_math_score

# District Summary: Return average reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [133]:
pd.DataFrame({"Total Schools":total_schools,"Total Students":total_students,"Total Budget":total_budget,"Average Math Score":average_math_score,"Average Reading Score":average_reading_score})

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score
school_name,,,,,
Bailey High School,15,39170,"$24,649,428.00",77.048432,81.033963
Cabrera High School,15,39170,"$24,649,428.00",83.061895,83.975780
Figueroa High School,15,39170,"$24,649,428.00",76.711767,81.158020
Ford High School,15,39170,"$24,649,428.00",77.102592,80.746258
Griffin High School,15,39170,"$24,649,428.00",83.351499,83.816757
Hernandez High School,15,39170,"$24,649,428.00",77.289752,80.934412
Holden High School,15,39170,"$24,649,428.00",83.803279,83.814988
Huang High School,15,39170,"$24,649,428.00",76.629414,81.182722
Johnson High School,15,39170,"$24,649,428.00",77.072464,80.966394
Pena High School,15,39170,"$24,649,428.00",83.839917,84.044699
Rodriguez High School,15,39170,"$24,649,428.00",76.842711,80.744686
Shelton High School,15,39170,"$24,649,428.00",83.359455,83.725724
Thomas High School,15,39170,"$24,649,428.00",83.418349,83.848930
Wilson High School,15,39170,"$24,649,428.00",83.274201,83.989488
Wright High School,15,39170,"$24,649,428.00",83.682222,83.955000

NameError: name 'district_summary_df' is not defined

In [58]:
# School Summary: Return school type
school_type_series = school_data_complete.groupby("school_name").first()["type"]
school_type_series.head()

school_name
Bailey High School      District
Cabrera High School      Charter
Figueroa High School    District
Ford High School        District
Griffin High School      Charter
Name: type, dtype: object

In [126]:
# School Summary: Return total students
total_students_by_school = school_data_complete.groupby("school_name").first()["size"]
total_students_by_school.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: size, dtype: int64

In [60]:
# School Summary: Return total school budget
total_school_budget_by_school = school_data_complete.groupby("school_name").mean()["budget"]
total_school_budget_by_school.head()

school_name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: budget, dtype: float64

In [61]:
# School Summary: Return per student budget
per_student_budget_by_school = total_school_budget/total_students
per_student_budget_by_school.head()

school_name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [62]:
# School Summary: Return average math score
average_math_score_by_school = school_data_complete.groupby("school_name").mean()["math_score"]
average_math_score_by_school.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [57]:
# School Summary: Return average reading score
average_reading_score_by_school = school_data_complete.groupby("school_name").mean()["reading_score"]
average_reading_score_by_school.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [112]:
# School Summary: Return % passing math
passing_math = school_data_complete[school_data_complete["math_score"] >= 65].shape[0]
total_students = school_data_complete["student_name"].shape[0]
percent_passing_math = passing_math/total_students * 100
percent_passing_math

84.72810824610671

In [119]:
# Second attempt unsuccessfully grouping the % Passing Math
school_data_complete[school_data_complete["math_score"] >= 65]/[school_data_complete["student_name"]*100].groupby("school_name").mean()["math_score"]

AttributeError: 'list' object has no attribute 'groupby'

In [120]:
# School Summary: Return % passing reading
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 65].shape[0]
total_students = school_data_complete["student_name"].shape[0]
percent_passing_reading = passing_reading/total_students * 100
percent_passing_reading

96.19862139392393

In [121]:
# School Summary: Return % overall passing 
percent_overall_passing = percent_passing_math and percent_passing reading
percent_overall_passing

SyntaxError: invalid syntax (Temp/ipykernel_47644/3490456230.py, line 2)

In [124]:
# Gather School Summary outputs into one data frame and name columns
pd.DataFrame({"Type":school_type_series,"Total Students":total_students_by_school,"Total Student Budget":total_school_budget_by_school,"Per Student Budget":per_student_budget_by_school,"Average Math Score":average_math_score_by_school,"Average Reading Score":average_reading_score_by_school})

NameError: name 'total_students_by_school' is not defined

In [ ]:
# Top performing schools by % Overall Passing

In [ ]:
# Bottom performing schools by % Overall Passing

In [151]:
# Average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school
math_series = (["9th","10th","11th","12th"])
math_series
#math_series10 = pd.Series([])
#create a pandas series
#use a conditional statement
#group each series by school

['9th', '10th', '11th', '12th']

In [152]:
# Average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school
reading_series = (["9th","10th","11th","12th"])
reading_series

['9th', '10th', '11th', '12th']

In [ ]:
# Scores by school spending

In [ ]:
# Scores by school size

In [ ]:
# Scores by school type