In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [27]:
passing_reading = school_data_complete[school_data_complete.reading_score>=70]
passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [32]:
passing_reading_count = passing_reading["Student ID"].count()
passing_reading_count

33610

In [31]:
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [5]:
district_summ = school_data_complete.groupby("school_name").first()
district_summ

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,17871,Blake Martin,M,9th,75,59,7,District,4976,3124928
Cabrera High School,16013,Olivia Short,F,11th,94,94,6,Charter,1858,1081356
Figueroa High School,2917,Amy Jacobs,F,10th,85,87,1,District,2949,1884411
Ford High School,34796,Michael Mercado,M,9th,66,94,13,District,2739,1763916
Griffin High School,12262,Heather Wright,F,11th,79,68,4,Charter,1468,917500
Hernandez High School,7627,Russell Davis,M,10th,70,88,3,District,4635,3022020
Holden High School,22847,Daniel Rodriguez,M,11th,86,92,8,Charter,427,248087
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Johnson High School,30035,Lisa Casey,F,12th,87,87,12,District,4761,3094650
Pena High School,23274,Alec Davis,M,9th,91,75,9,Charter,962,585858
Rodriguez High School,26036,Sherry Jenkins,F,11th,74,81,11,District,3999,2547363
Shelton High School,5866,Jamie Montgomery,F,12th,70,91,2,Charter,1761,1056600
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Wilson High School,13730,Kelli Anderson,F,10th,84,71,5,Charter,2283,1319574
Wright High School,24236,Aaron Johnson,M,10th,89,72,10,Charter,1800,1049400

In [6]:
pd.DataFrame({"Total Schools":total_schools,"Total Students":total_students,"Total Budget":total_budget,"Average Math Score":average_math_score,"Average Reading Score":average_reading_score})

NameError: name 'total_schools' is not defined

In [7]:
# School Summary: Return school type
school_type_series = school_data_complete.groupby("school_name").first()["type"]
school_type_series.head()

school_name
Bailey High School      District
Cabrera High School      Charter
Figueroa High School    District
Ford High School        District
Griffin High School      Charter
Name: type, dtype: object

In [8]:
# School Summary: Return total students
total_students_by_school = school_data_complete.groupby("school_name").first()["size"]
total_students_by_school.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: size, dtype: int64

In [9]:
# School Summary: Return total school budget
total_school_budget_by_school = school_data_complete.groupby("school_name").mean()["budget"]
total_school_budget_by_school.head()

school_name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: budget, dtype: float64

In [17]:
# School Summary: Return total students by school
total_students_by_school = school_data_complete.groupby("school_name").count()["School ID"]
total_students_by_school.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: School ID, dtype: int64

In [23]:
# School Summary: Return per student budget
per_student_budget_by_school = total_school_budget_by_school/total_students_by_school
per_student_budget_by_school.head()

school_name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [11]:
# School Summary: Return average math score
average_math_score_by_school = school_data_complete.groupby("school_name").mean()["math_score"]
average_math_score_by_school.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [12]:
# School Summary: Return average reading score
average_reading_score_by_school = school_data_complete.groupby("school_name").mean()["reading_score"]
average_reading_score_by_school.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [15]:
type(average_reading_score_by_school)

pandas.core.series.Series

In [13]:
# School Summary: Return % passing math
passing_math = school_data_complete[school_data_complete["math_score"] >= 65].shape[0]
#total_students = school_data_complete["student_name"].shape[0]
percent_passing_math = passing_math/total_students * 100
percent_passing_math

84.72810824610671

In [24]:
pd.DataFrame({"School Type":school_type_series,"Total Students":total_students_by_school,"Total Budget":total_school_budget_by_school})

                      School Type  Total Students  Total Budget
school_name
Bailey High School       District            4976     3124928.0
Cabrera High School       Charter            1858     1081356.0
Figueroa High School     District            2949     1884411.0
Ford High School         District            2739     1763916.0
Griffin High School       Charter            1468      917500.0
Hernandez High School    District            4635     3022020.0
Holden High School        Charter             427      248087.0
Huang High School        District            2917     1910635.0
Johnson High School      District            4761     3094650.0
Pena High School          Charter             962      585858.0
Rodriguez High School    District            3999     2547363.0
Shelton High School       Charter            1761     1056600.0
Thomas High School        Charter            1635     1043130.0
Wilson High School        Charter            2283     1319574.0
Wright High School        Charter            1800     1049400.0

In [ ]:
# Second attempt unsuccessfully grouping the % Passing Math
school_data_complete[school_data_complete["math_score"] >= 65]/[school_data_complete["student_name"]*100].groupby("school_name").mean()["math_score"]

In [ ]:
# School Summary: Return % passing reading
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 65].shape[0]
total_students = school_data_complete["student_name"].shape[0]
percent_passing_reading = passing_reading/total_students * 100
percent_passing_reading

In [ ]:
# School Summary: Return % overall passing 
percent_overall_passing = percent_passing_math and percent_passing reading
percent_overall_passing

In [ ]:
# Gather School Summary outputs into one data frame and name columns
pd.DataFrame({"Type":school_type_series,"Total Students":total_students_by_school,"Total Student Budget":total_school_budget_by_school,"Per Student Budget":per_student_budget_by_school,"Average Math Score":average_math_score_by_school,"Average Reading Score":average_reading_score_by_school})

In [ ]:
# Top performing schools by % Overall Passing

In [ ]:
# Bottom performing schools by % Overall Passing

In [ ]:
# Average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school
math_series = (["9th","10th","11th","12th"])
math_series
#math_series10 = pd.Series([])
#create a pandas series
#use a conditional statement
#group each series by school

In [ ]:
# Average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school
reading_series = (["9th","10th","11th","12th"])
reading_series

In [ ]:
# Scores by school spending

In [ ]:
# Scores by school size

In [ ]:
# Scores by school type